<!DOCTYPE html>
<html>
<head>
<title>Gallery</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav class="nav">
<div class="logo">Deepfake AI</div>
<div>
<a href="/">Analyze</a>
<a href="/gallery">Gallery</a>
</div>
</nav>

<h1 class="gallery-title">Analysis History</h1>

<div class="gallery">

{% for image in images %}
<div class="card">
<img src="{{ url_for('static', filename='uploads/' + image) }}">
</div>
{% endfor %}

</div>

</body>
</html>